article dl {
  margin-bottom: 60px;
}

dl.details {
  margin-bottom: 0px;
  margin-top: 0px;
}

.custom-tag {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-family: Consolas, Monaco, 'Roboto', monospace;
  font-size: 12px;
  padding: 1px 5px;
}

.custom-tag.experimental {
  background: #fff2e8;
  border-color: #ffbb96;
  color: #fa541c;
}
